<%= form_for(recommendation) do |f| %>
  <% if recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>

      <ul>
      <% recommendation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Recommendation %>
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :type_id %>
    <%= f.collection_select :type_id, Type.all, :id, :name %>
  </div>

  <ul class="form-buttons col-md-6 col-md-offset-3">
    <li class="actions form-button-center">
      <%= f.submit "Submit", :class => "btn btn-primary" %>
    </li>
  </ul>
<% end %>
