<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recommendation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recommendation.description %>
</p>

<div class="comment_list">
  <% @comments.each do |comment| %>
    <%= comment.comment %> <br>
      <%= comment.user.username %> <br>
        <br>
    <% end %>
</div>

<div class="comment-section">
  <%= form_tag create_comment_path, method: "post" do %>
    <%= hidden_field_tag "id", @recommendation.id %>
      <%= text_area_tag :comment %>
      <%= submit_tag "Submit" %>
    <% end %>
</div>

<%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<%= link_to 'Back', recommendations_path %>
