<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recommendation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recommendation.description %>
</p>

<% if current_user.id == @recommendation.user_id %>
  <%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<% end %>
<%= link_to 'Back', book_path(@current_book) %>

<%= render partial: "comments/template", locals: {commentable: @recommendation, new_comment: @comment} %> 