<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <b>Avatar:</b>
  <%= image_tag @user.avatar_image.profile.url %>
</p>

<% if current_user.id == @user.id %>
  <p><%= link_to "Edit profile", edit_user_registration_path %></p>
<% end %>