<div class="col-md-10 col-md-offset-1">

  <p class="col-md-4">
    <%= image_tag @user.avatar_image.avatar.url, class:"profile-image" %>
  </p>

  <p class="col-md-2">
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p class="col-md-2">
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p class="col-md-2">
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p class="col-md-2">
    <strong>Bio:</strong>
    <%= @user.bio %>
  </p>

  <% if current_user.id == @user.id %>
    <p><%= link_to "Edit profile", edit_user_registration_path %></p>
  <% end %>
</div>