<div class="col-md-8 col-md-offset-2">
  <div class="col-md-10 col-md-offset-1">
    <p>
      <%= image_tag @user.avatar_image.avatar.url, class:"profile-image" %>
    </p>
    <div class="col-md-6 col-md-offset-3 profile-info">
      <p>
        <strong>Username:</strong>
        <%= @user.username %>
      </p>

      <p>
        <strong>First name:</strong>
        <%= @user.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @user.last_name %>
      </p>

      <p>
        <strong>Bio:</strong>
        <%= @user.bio %>
      </p>

      <% if current_user.id == @user.id %>
        <p><%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-primary" %></p>
      <% end %>
    </div>
  </div>
</div>