<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>User:</strong>
  <%= @book.creator.username %>
</p>

<p>
  <b>Cover:</b>
  <%= image_tag @book.book_image.url %>
</p>

<p>
  <strong>Recommendations:</strong>
  <table>
    <thead>
      <tr>
        <th>Category</th>
        <th>Recommendation</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% @book.recommendations.each do |recommendation| %>
        <tr>
          <td><%= recommendation.type.name %></td>
          <td><%= link_to recommendation.name, recommendation_path(recommendation) %></td>
          <td><%= recommendation.description %></td>
          <td>
            Submitted <%= time_ago_in_words(recommendation.created_at) %> ago
            by <%= link_to recommendation.user.username, user_path(recommendation.user) %>
          </td>
          <td>
            <%= link_to like_recommendation_path(recommendation), method: :put do %>
              Upvote
              <%= recommendation.get_upvotes.size %>
            <% end %>
          </td>
          <td>
            <%= link_to dislike_recommendation_path(recommendation), method: :put do %>
              Downvote
              <%= recommendation.get_downvotes.size %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'New Recommendation', new_recommendation_path %>