<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>User:</strong>
  <%= @book.user.username %>
</p>

<p>
  <b>Cover:</b>
  <%= image_tag @book.book_image.url %>
</p>

<p>
  <strong>Recommendations:</strong>
  <ul>
    <% @book.recommendations.each do |recommendation| %>
      <li><%= recommendation.name %></li>
      <li><%= recommendation.description %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'New Recommendation', new_recommendation_path %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
