<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>User:</strong>
  <%= @book.user.username %>
</p>

<p>
  <b>Cover:</b>
  <%= image_tag @book.book_image.url %>
</p>

<p>
  <strong>Recommendations:</strong>
  <ul>
    <% @book.recommendations.each do |recommendation| %>
      <li><%= recommendation.name %></li>
      <li><%= recommendation.description %></li>
    <% end %>
  </ul>
</p>

<div class="comment_list">
  <% @comments.each do |comment| %>
    <%= comment.comment %> <br>
      <%= comment.user.username %> <br>
        <br>
    <% end %>
</div>

<div class="comment-section">
  <%= form_tag create_comment_path, method: "post" do %>
    <%= hidden_field_tag "id", @book.id %>
      <%= text_area_tag :comment %>
      <%= submit_tag "Submit" %>
    <% end %>
</div>

<%= link_to 'New Recommendation', new_recommendation_path %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
