<div class="col-md-8 col-md-offset-2 books">

  <h1>Browse all books</h1>

  <div>
    <input placeholder="Search" class="search">
  </div>

  <table class="sortable table table-hover table-responsive">
    <thead>
      <tr>
        <th class="col-md-2">Genre</th>
        <th class="col-md-4">Name</th>
        <th class="col-md-2">Author</th>
        <th class="no-sort col-md-1">Cover</th>
        <th class="no-sort col-md-2">Uploader</th>
        <th class="no-sort col-md-1"></th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr data-searchstring="
          <%= book.name %>
          <%= book.author %>
          <%= book.creator.username %>
          <%= book.genre.name %>
        ">
          <td><%= book.genre.name %></td>
          <td><%= link_to book.name, book_path(book) %></td>
          <td><%= link_to book.author, "https://www.google.co.uk/#q="+book.author+" author" %></td>
          <td><%= image_tag book.book_image.thumb.url %></td>
          <td><%= link_to book.creator.username, user_path(book.creator) %></td>
          <td><%= link_to "Buy now", "https://www.amazon.co.uk/s/ref=nb_sb_noss_1?url=search-alias%3Daps&field-keywords="+book.name+" "+book.author+" book&tbm=shop" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>