<h1>Browse</h1>

<div>
  <div>
    <input placeholder="Search" class="search">
  </div>
  <table class="sortable">
    <thead>
      <tr>
        <th>Genre</th>
        <th>Name</th>
        <th>Author</th>
        <th class="no-sort">Cover</th>
        <th>Uploaded by</th>
        <th class="no-sort"></th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr data-searchstring="
          <%= book.name %>
          <%= book.author %>
          <%= book.creator.username %>
          <%= book.genre.name %>
        ">
          <td><%= book.genre.name %></td>
          <td><%= link_to book.name, book_path(book) %></td>
          <td><%= link_to book.author, "https://www.google.co.uk/#q="+book.author+" author" %></td>
          <td><%= image_tag book.book_image.thumb.url %></td>
          <td><%= link_to book.creator.username, user_path(book.creator) %></td>
          <td><%= link_to "Buy now", "https://www.amazon.co.uk/s/ref=nb_sb_noss_1?url=search-alias%3Daps&field-keywords="+book.name+" "+book.author+" book&tbm=shop" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


